<div class="page-items-holder">
    {{#each incipits}}
        <h3  {{#if youtube}}class="has-video"{{/if}}>{{incipit}} </h3>
        <div class="metadata">
            <dl>
                <dt>Feast</dt>
                <dd>{{feast}}</dd>
                <dt>Office</dt>
                <dd>{{office}}</dd>
                <dt>Genre</dt>
                <dd>{{genre}}</dd>
                <dt>Mode</dt>
                <dd>{{mode}}</dd>
            </dl>
            <div class="notation">{{volpiano}}</div>
            {{#if youtube}}
                <div class="youtube-viewer">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtube}}" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            {{/if}}
        </div>
    {{/each}}
</div>