<div>
    <h2>Chants</h2>
    {{#each incipits}}
        <h3>{{incipit}}</h3>
        <div class="metadata">
            <dl>
                <dt>Feast</dt>
                <dd>{{feast}}</dd>
                <dt>Office</dt>
                <dd>{{office}}</dd>
                <dt>Genre</dt>
                <dd>{{genre}}</dd>
                <dt>Mode</dt>
                <dd>{{mode}}</dd>
            </dl>
            <div class="notation">{{volpiano}}</div>
        </div>
    {{/each}}
</div>